In [0]:
import json
import requests
import pandas as pd
import time
import numpy as np

In [0]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
df = pd.read_csv('/content/drive/My Drive/games_2009_to_2019_updated_2.csv')
df.head(10)

In [0]:
# Warning: very very slow
# this cell was broken into scraping games per year, then all the data was merged after
away_assists = []
home_assists = []
away_rebounds = []
home_rebounds = []
away_turnovers = []
home_turnovers = []

for year in range(2009, 2020):
  for month in range(1, 13):
    for day in range(1, 32):
      month_ = ("{:02d}".format(month))
      day_ = ("{:02d}".format(day))
      print("Getting game_ids from " + month_ + "/" + day_ + "/" + str(year))
      url = "https://stats.nba.com/stats/scoreboardV2?DayOffset=0&LeagueID=00&gameDate={month}%2F{day}%2F{year}".format(month=str(month_),day=str(day_), year=str(year))
      header = {'User-Agent': "test"}
      try:
        data = requests.get(url, headers = header).json()
        games = data["resultSets"][0]["rowSet"]
        for i in range(0, len(games)):
          game_id = games[i][2]
          if game_id[2] == '2' or game_id[2] == '4': # 2 reps regula season, 4 reps playoffs (1 reps preseason, 3 reps all star game)
            away_assists.append(data["resultSets"][1]["rowSet"][i*2][26])
            home_assists.append(data["resultSets"][1]["rowSet"][i*2 + 1][26])
            away_rebounds.append(data["resultSets"][1]["rowSet"][i*2][27])
            home_rebounds.append(data["resultSets"][1]["rowSet"][i*2 + 1][27])
            away_turnovers.append(data["resultSets"][1]["rowSet"][i*2][28])
            home_turnovers.append(data["resultSets"][1]["rowSet"][i*2 + 1][28])
      except requests.exceptions.RequestException as e:
        continue
      except Exception as e:
        if data == "":
          print("passed", url)
        else:
          print("Jk, this day isn't valid")
        pass
print(away_assists)
print(home_assists)
print(away_rebounds)
print(home_rebounds)
print(away_turnovers)
print(home_turnovers)

In [0]:
new_stats = {}
new_stats['15'] = (away_assists, home_assists, away_rebounds, home_rebounds, away_turnovers, home_turnovers)
df = pd.DataFrame(new_stats)
df = df.T
df.columns = ["away assists", "home assists",  "away rebounds", "home rebounds", "away turnovers", "home turnovers"]

In [0]:
from google.colab import files
df.to_csv("final_stats_15.csv")
files.download('final_stats_15.csv')

In [0]:
# df_1 = pd.read_csv('/content/drive/My Drive/final_stats_09.csv')
# df_2 = pd.read_csv('/content/drive/My Drive/final_stats_10.csv')
# df_3 = pd.read_csv('/content/drive/My Drive/final_stats_11.csv')
# df_4 = pd.read_csv('/content/drive/My Drive/final_stats_12.csv')
# df_5 = pd.read_csv('/content/drive/My Drive/final_stats_13.csv')
# df_6 = pd.read_csv('/content/drive/My Drive/final_stats_14.csv')
# df_7 = pd.read_csv('/content/drive/My Drive/final_stats_15.csv')
# df_8 = pd.read_csv('/content/drive/My Drive/final_stats_16.csv')
# df_9 = pd.read_csv('/content/drive/My Drive/final_stats_17.csv')
# df_10 = pd.read_csv('/content/drive/My Drive/final_stats_18.csv')
# df_11 = pd.read_csv('/content/drive/My Drive/final_stats_19_1.csv')
# df_12 = pd.read_csv('/content/drive/My Drive/final_stats_19_2.csv')

In [243]:
df_n = [df_1, df_2, df_3, df_4, df_5, df_6, df_7, df_8, df_9, df_10, df_11, df_12]
res = pd.concat(df_n)
res

  Unnamed: 0  ...                                     home turnovers
0          9  ...  [14, 14, 18, 15, 18, 21, 15, 16, 13, 16, 10, 1...
0         10  ...  [10, 19, 12, 11, 15, 9, 9, 14, 12, 7, 9, 12, 2...
0         11  ...  [17, 12, 14, 17, 14, 16, 20, 10, 11, 17, 13, 1...
0         12  ...  [14, 12, 15, 20, 16, 14, 15, 10, 21, 11, 15, 1...
0         13  ...  [14, 10, 17, 13, 15, 7, 11, 12, 13, 16, 10, 9,...
0         14  ...  [18, 17, 15, 14, 13, 12, 15, 13, 21, 12, 12, 1...
0         15  ...  [7, 14, 14, 11, 12, 11, 18, 10, 12, 19, 14, 9,...
0         16  ...  [9, 12, 13, 7, 10, 14, 14, 4, 13, 4, 16, 13, 1...
0         17  ...  [11, 10, 11, 16, 7, 10, 11, 15, 18, 10, 13, 19...
0         18  ...  [13, 12, 12, 17, 10, 14, 21, 15, 19, 12, 13, 1...
0       19_1  ...  [9, 13, 8, 13, 13, 14, 12, 10, 10, 16, 11, 11,...
0       19_2  ...  [20, 13, 16, 14, 17, 22, 16, 11, 12, 8, 15, 17...

[12 rows x 7 columns]

In [249]:
away_asts = []
home_asts = []
away_rbs = []
home_rbs = []
away_tovs = []
home_tovs = []

for i, row in res.iterrows():
  
  a_asts = eval('[' + row['away assists'] + ']')
  a_asts = a_asts[0]
  for li in a_asts:
    away_asts.append(li)
    
  h_asts = eval('[' + row['home assists'] + ']')
  h_asts = h_asts[0]
  for li in h_asts:
    home_asts.append(li)
    
  a_rbs = eval('[' + row['away rebounds'] + ']')
  a_rbs = a_rbs[0]
  for li in a_rbs:
    away_rbs.append(li)
    
  h_rbs = eval('[' + row['home rebounds'] + ']')
  h_rbs = h_rbs[0]
  for li in h_rbs:
    home_rbs.append(li)
    
  a_tovs = eval('[' + row['away turnovers'] + ']')
  a_tovs = a_tovs[0]
  for li in a_tovs:
    away_tovs.append(li)
    
  h_tovs = eval('[' + row['home turnovers'] + ']')
  h_tovs = h_tovs[0]
  for li in h_tovs:
    home_tovs.append(li)

13907
13907
13907
13907
13907
13907
[17, 38, 24, 24, 24]

In [0]:
df = pd.read_csv('/content/drive/My Drive/games_2009_to_2019_updated_2.csv')

In [0]:
df['away assists'] = away_asts
df['home assists'] = home_asts
df['away rebounds'] = away_rbs
df['home rebounds'] = home_rbs
df['away turnovers'] = away_tovs
df['home turnovers'] = home_tovs

In [258]:
df.head(5)

   Unnamed: 0           away team  ... away turnovers home turnovers
0    20800473          Miami Heat  ...             12             14
1    20800474     Houston Rockets  ...             21             14
2    20800475  Washington Wizards  ...              8             18
3    20800476       Chicago Bulls  ...             16             15
4    20800477       Atlanta Hawks  ...             16             18

[5 rows x 27 columns]

In [0]:
# calculate stats per game


away_team_asts = []
home_team_asts = []
away_team_rebs = []
home_team_rebs = []
away_team_tovs = []
home_team_tovs = []

asts_dict = {}
rebs_dict = {}
tovs_dict = {}

for i, row in df.iterrows():
  if str(i)[-4:] == "0001":
    asts_dict = {}
    rebs_dict = {}
    tovs_dict = {}

#     ASSISTS PER GAME
  if row[0] in asts_dict:
    asts_dict[row[0]][0] += df.loc[i]['away assists']
    asts_dict[row[0]][1] += 1.0
    asts_dict[row[0]][2] = asts_dict[row[0]][0] / asts_dict[row[0]][1]
  else: 
    asts_dict[row[0]] = [df.loc[i]['away assists'], 1.0, df.loc[i]['away assists']]
   
  away_team_asts.append(asts_dict[row[0]][2])

  if row[2] in asts_dict:
    asts_dict[row[2]][0] += df.loc[i]['home assists']
    asts_dict[row[2]][1] += 1.0
    asts_dict[row[2]][2] = asts_dict[row[2]][0] / asts_dict[row[2]][1]
  else: 
    asts_dict[row[2]] = [df.loc[i]['home assists'], 1.0, df.loc[i]['home assists']]
    
  home_team_asts.append(asts_dict[row[2]][2])
  
#   REBOUNDS PER GAME
  if row[0] in rebs_dict:
    rebs_dict[row[0]][0] += df.loc[i]['away rebounds']
    rebs_dict[row[0]][1] += 1.0
    rebs_dict[row[0]][2] = rebs_dict[row[0]][0] / rebs_dict[row[0]][1]
  else: 
    rebs_dict[row[0]] = [df.loc[i]['away rebounds'], 1.0, df.loc[i]['away rebounds']]
   
  away_team_rebs.append(rebs_dict[row[0]][2])

  if row[2] in rebs_dict:
    rebs_dict[row[2]][0] += df.loc[i]['home rebounds']
    rebs_dict[row[2]][1] += 1.0
    rebs_dict[row[2]][2] = rebs_dict[row[2]][0] / rebs_dict[row[2]][1]
  else: 
    rebs_dict[row[2]] = [df.loc[i]['home rebounds'], 1.0, df.loc[i]['home rebounds']]
    
  home_team_rebs.append(rebs_dict[row[2]][2])
  
#   TURNOVERS PER GAME
  if row[0] in tovs_dict:
    tovs_dict[row[0]][0] += df.loc[i]['away turnovers']
    tovs_dict[row[0]][1] += 1.0
    tovs_dict[row[0]][2] = tovs_dict[row[0]][0] / tovs_dict[row[0]][1]
  else: 
    tovs_dict[row[0]] = [df.loc[i]['away turnovers'], 1.0, df.loc[i]['away turnovers']]
   
  away_team_tovs.append(tovs_dict[row[0]][2])

  if row[2] in tovs_dict:
    tovs_dict[row[2]][0] += df.loc[i]['home turnovers']
    tovs_dict[row[2]][1] += 1.0
    tovs_dict[row[2]][2] = tovs_dict[row[2]][0] / tovs_dict[row[2]][1]
  else: 
    tovs_dict[row[2]] = [df.loc[i]['home turnovers'], 1.0, df.loc[i]['home turnovers']]
    
  home_team_tovs.append(tovs_dict[row[2]][2])
  
df['away assists per game'] = away_team_asts
df['home assists per game'] = home_team_asts
df['away rebounds per game'] = away_team_rebs
df['home rebounds per game'] = home_team_rebs
df['away turnovers per game'] = away_team_tovs
df['home turnovers per game'] = home_team_tovs

In [268]:
df

       Unnamed: 0  ... home turnovers per game
0        20800473  ...                   14.00
1        20800474  ...                   14.00
2        20800475  ...                   18.00
3        20800476  ...                   15.00
4        20800477  ...                   18.00
...           ...  ...                     ...
13902    21900170  ...                   13.00
13903    21900171  ...                   16.75
13904    21900172  ...                   13.50
13905    21900173  ...                   15.50
13906    21900174  ...                   14.70

[13907 rows x 33 columns]

In [0]:
df.to_csv('games_2009_to_2019_updated_4.csv')
from google.colab import files
files.download('games_2009_to_2019_updated_4.csv')